
<body>
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="card-body pt-4">

                            <h3 class="text-center mt-5 mb-4">
                                <a href="index.html" class="d-block auth-logo">
                                    <img src="assets/images/logo-dark.png" alt="" height="30" class="auth-logo-dark">
                                    <img src="assets/images/logo-light.png" alt="" height="30" class="auth-logo-light">
                                </a>
                            </h3>

                            <div class="p-3">
                                <h4 class="text-muted font-size-18 mb-1 text-center">Welcome Back !</h4>
                                <p class="text-muted text-center">Sign in to continue to Lexa.</p>
                                <form [formGroup]="signinforms" class="form-horizontal mt-4" >
                                    <div class="mb-3">
                                        <label for="Email">Email</label>
                                        <input type="email" class="form-control" id="Email" placeholder="Enter Email" formControlName="email" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="userpassword">Password</label>
                                        <input type="password" class="form-control" id="userpassword" placeholder="Enter password" formControlName="password" required>
                                    </div>
                                    <div class="mb-3 row mt-4">
                                        
                                        <div class="col-8 text-end">
                                            <button style="background-color: #4e73df;color: white;" class="btn  w-md waves-effect waves-light" (click)="handlesubmit()" >Log In</button>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0 row">
                                        <div class="col-12 mt-4">
                                            <a href="Forget-password" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <p style="color: #4e73df;">Don't have an account ? <a  style="color: #4e73df;" href="register" class="text-primary"> Signup Now </a></p>
                        © Copyright 2023 Chedy sakly 
                    </div>
                </div>
            </div>
        </div>
    </div>

   
  
</body>