<div style="background:#4e73df" class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Main</li>

                <li>
                    <a href="dashboard" class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                       
                        <span>Acceuil</span>
                    </a>
                </li>

               

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-email-outline"></i>
                        <span>Email</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="email-inbox.html">Inbox</a></li>
                        <li><a href="email-read.html">Email Read</a></li>
                        <li><a href="email-compose.html">Email Compose</a></li>
                    </ul>
                </li>
<li>
                <a href="evenements" class="waves-effect">
                    <i class="mdi mdi-calendar-check"></i>
                    <span>Evènements</span>
                </a>

             </li>

             <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="mdi
                    mdi-account-supervisor-circle"></i>
                    <span>Managers</span>
                </a>

             </li>
                
             <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="mdi mdi-face-agent"></i>
                    <span>Agents</span>
                </a>

             </li>
             <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="mdi mdi-tag-text-outline"></i>
                    <span>Reduction</span>
                </a>

             </li>
            
            </ul>
        </div>
       
    </div>
</div>
